name: Docker Image CI

on:
  - push:
    branches:
      - master
      - prod
  - workflow_dispatch

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Bï½šuild the Docker image
      run: |
      echo "helloworld~"
      docker build . --file Dockerfile --tag my-image-name:$(date +%s)
